.App {
  text-align: center;
}

header{
  font-size: xx-large;
  margin: 25px 0px;
}

.form-fields{
  color:rgb(136, 135, 135);
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: auto;
  border-radius: 30px;
  padding:15px;
  background-color: rgb(236, 236, 236);
}

.form-fields>input{
  border-radius: 30px;
}

.submit-input, button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin: 30px;
}

#AlphButton {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-size: 8px;
  float: right;
}

#AddButton {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 30px;
}

#DeleteButton {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  margin: 30px;
  font-size: 10px;
}

#UpdateButton {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  font-size:10px;
}

#BackB {
  color:gray;
  font-size: 10px;
  margin: 10px;
}

.oneProduct-component{
  margin:27vh auto;
}

a{
  text-decoration: none;
  color: black;
  font-size: 22px;
}

table {
  padding: 10px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 30px;
}

table th,
table td {
  padding: 10px 40px;
}

#greenDef {
  height: 40px;
  width: 200px;
  word-break: break-all;
  font-size: 10px;
  text-align: center;
}

#yellowDef {
  height: 40px;
  width: 200px;
  word-break: break-all;
  font-size: 10px;
  text-align: center;
}

#redDef {
  height: 40px;
  width: 200px;
  word-break: break-all;
  font-size: 10px;
  text-align: center;
}

#gheader {
  color: green;
}

#yheader {
  color: orange;
}

#rheader {
  color: red;
}

#Validations{
  color: red;
  font-size:12px;
}

#Dropdown {
  width: 120px;
  text-align: center;
  font-size: 12px;
}